@import url("https://fonts.googleapis.com/css2?family=Archivo&family=Krona+One&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Anek+Malayalam&display=swap');

h1,
h2,
h3 {
  font-family: "Krona One", sans-serif;
}

h1 {
  font-size: 64px;
}

p {
  font-family: "Archivo", sans-serif;
}

html {
  overflow-x: hidden;
  height: 100vh;
  font-family: "Archivo", sans-serif;
}

.card {
  border: 0;
  -webkit-box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0),
    0 4px 6px -2px rgba(0, 0, 0, 0);
  box-shadow: 0 10px 15px -3px rgba(255, 255, 255, 0),
    0 4px 6px -2px rgba(0, 0, 0, 0);
}

.card {
  -webkit-box-shadow: transparent;
  box-shadow: transparent;
  background-color: transparent;
}

body {
  /* height: 200vh; */
  margin: 0;
  padding: 0;
  background-color: #000;
}

header {
  z-index: 9999;
}

video {
  width: 100%;
  height: auto;
}

canvas {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  max-height: 80vh;
  max-width: 80vw;
}

#copyExample {
  color: white;
  position: sticky;
  font-size: 50px;
}

.humburg-menu {
  background-color: transparent;
  margin: 5px 5px 5px 5px;
  border: 0;
  width: 64px;
}

.logo {
  width: 207px;
}

.modal-header {
  border-bottom: 0 !important;
}

.modal-fullscreen .modal-content {
  background-color: rgba(0, 0, 0, 0.97);
}

.model-close {
  background-color: transparent;
}

.black-section {
  background-color: black;
}

.white-section {
  background-color: white;
}

.s-logo-text {
  padding-left: 10%;
  padding-bottom: 5%;
}

.title-white {
  font-size: 30px;
  color: white;
}



/* .s10 {
  background-image: url(../img/bg.png);
  display: table;
  margin-top: -50px;
  width: 100%;

  background-color: black;
  
  background-repeat: no-repeat;
  background-size: cover;
} */
.bg-gray {
  background-color: #f3f3f5;
}

.s-footer {
  margin-top: -50px;
}

@keyframes float {
  0% {
    box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
    transform: translatey(0px);
  }

  50% {
    box-shadow: 0 25px 15px 0px rgba(0, 0, 0, 0.2);
    transform: translatey(-20px);
  }

  100% {
    box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
    transform: translatey(0px);
  }
}

.top-img {
  width: 300px;
  height: auto;

  overflow: hidden;
  box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
  transform: translatey(0px);
  animation: float 4s ease-in-out infinite;
}

.field-group {
  width: auto;
  position: relative;
  padding-top: 15px;
}

.input-field {
  width: 100%;
  outline: 0;
  border: 0;
  border-bottom: 2px solid #999999;
  padding: 10px 0;
  background: transparent;
  font-size: 2em;
  color: #000;
  transition: 0.3s ease;
}

.input-label {
  display: block;
  position: absolute;
  top: 0;
  font-size: 1em;
  color: grey;
  transition: 00.3s ease;
}

.input-field::placeholder {
  color: transparent;
}

.input-field:placeholder-shown~.input-label {
  font-size: 30px;
  top: 20px;
}

.input-field:focus {
  border-image: linear-gradient(to right, black, #1a1a16);
  border-image-slice: 1;
}

.input-field:focus~.input-label {
  display: block;
  position: absolute;
  top: 0;
  font-size: 15px;
  color: black;
}

.h-51 {
  font-size: 51px;
}

.Path_1674 {
  overflow: visible;
  position: absolute;
  width: 242.977px;
  height: 1144.681px;
  left: 59.785px;
  top: 10078.521px;
  transform: matrix(1, 0, 0, 1, 0, 0);
}

#Path_1677 {
  fill: transparent;
  stroke: rgba(0, 0, 0, 1);
  stroke-width: 2px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}

.Path_1677 {
  overflow: visible;
  position: absolute;
  width: 241.151px;
  height: 1142.858px;
  transform: matrix(1, 0, 0, 1, 1954.7858, 9510.5711) rotate(60deg);
  transform-origin: center;
  left: 0px;
  top: 0px;
}

#Path_1669 {
  fill: transparent;
  stroke: rgba(0, 0, 0, 1);
  stroke-width: 2px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}

.Path_1669 {
  overflow: visible;
  position: absolute;
  width: 241.151px;
  height: 1142.858px;
  transform: matrix(1, 0, 0, 1, 1787.5837, 10984.366) rotate(60deg);
  transform-origin: center;
  left: 0px;
  top: 0px;
}

#Ellipse_29 {
  fill: rgba(243, 243, 245, 1);
}

.Ellipse_29 {
  position: absolute;
  overflow: visible;
  width: 1063px;
  height: 979px;
  left: 1450px;
  top: 10157px;
}

#Contact_Us {
  left: 1284.5px;
  /* top: 39px; */
  position: absolute;
  overflow: visible;
  width: 275px;
  white-space: nowrap;
  text-align: right;
  font-family: Krona One;
  font-style: normal;
  font-weight: normal;
  font-size: 82px;
  color: rgba(0, 0, 0, 1);
  letter-spacing: -0.17px;
  z-index: 999;
}

#Line_17 {
  fill: transparent;
  stroke: rgba(0, 0, 0, 1);
  stroke-width: 3px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}

.Line_17 {
  overflow: visible;
  position: absolute;
  width: 218px;
  height: 3px;
  /* left: 987px; */
  z-index: 999;
  transform: matrix(1, 0, 0, 1, 0, 0);
}

#elipe {
  float: right;
  width: 450px;
  height: 750px;
  margin: 20px;
  shape-outside: circle(50% at 30%);
  clip-path: circle(50% at 0%);
  background: grey;
}

.slider {
  background: #fff;
  width: 100%;
  min-height: 100vh;
  padding: 10px 0;
  top: 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.item-wrap {
  display: flex;
  background: #fff;
  width: 100%;
  position: relative;
  transition: 0.5s cubic-bezier(0.05, 0.82, 0.165, 1);
}

.item {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  min-width: 240px;
  width: 240px;
  height: 240px;
  font-size: 800%;
  border: 2px solid #d1d1d1;
  border-radius: 5px;
  padding: 5px;
  margin: 5px;
  line-height: 1;
}

.path-line {
  position: fixed;
  top: 200px;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  text-align: left;
}

svg {
  display: inline-block;
  height: 100%;
}

.s1 .s2 .s3 .s4 .s5 .s6 .s7 .s8 .s9 .s10 {
  height: 100vh;
  display: grid;
  z-index: -2;
}

.section-padding {
  padding-top: 20%;
}

.about-h1 {
  font-size: 26px;
  text-transform: uppercase;
  padding-top: 5vh;
}

.s-three .three {
  font-size: 41px;
}

.img-bg {
  width: 517px;
  height: 583px;
}

/* .bg-text1{

}
.bg-text2{

} */


#line1 {
  /* position: absolute; */
  position: fixed;
  top: 0;
  /* width: 100%;
  height: 100%; */
  margin-left: -30px;
  z-index: 2;
}

.blog-header {
  background-image: url(../img/header-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  top: 80px;
  height: 300px;
  z-index: 0;
}
header{
  z-index: 10;
}
.elements{
  position: relative;
  top: -130px;
}

.service-header {
  background-image: url(../img/services-header.png);
  height: 82vh;
  background-repeat: no-repeat;
  background-size: cover;
}

#coverflow {
  padding-bottom: 30vh;
}

.s-text {
  background-image: url(../img/service-bg2.png);
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
}

.s-text .row {
  padding-left: 10%;
  padding-right: 10%;
}

/* .s-three{
  background-image: url(../img/Groupe-337.png);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
} */

.footer {
  display: flex;
  justify-content: center;
}



.vwrap,
.vslide {
  box-sizing: border-box;
  width: 100%;
  height: 250px;
}

.vwrap {
  /* background: #ebfbff;
  border: 2px solid #a69bff; */
  overflow: hidden;
}

.vmove {
  position: relative;
  bottom: 0%;
}

.vslide {
  padding: 10px;
}

@keyframes slidev {
  /* 0% { bottom: 0; }
  33% { bottom: 100%; }
  66% { bottom: 200%; }
  100% { right: 0; } */

  0% {
    bottom: 0;
  }

  30% {
    bottom: 0;
  }

  33% {
    bottom: 100%;
  }

  63% {
    bottom: 100%;
  }

  66% {
    bottom: 200%;
  }

  97% {
    bottom: 200%;
  }

  100% {
    right: 0;
  }
}

.vmove {
  animation: slidev linear 15s infinite;
}

.vmove:hover {
  animation-play-state: paused;
}

.about-side-line {
  left: 0;
  position: relative;
}

.aboutus {
  background-image: url("../img/aboutus-header.png");
  /* position: relative; */
  background-repeat: no-repeat;
  background-size: relative;
  background-position: top right;
  right: 0;
  top: 0;
  height: 100vh;
}

.bg-section {
  background-image: url("../img/about-bg-3.png");

  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.bg-service {
  background-image: url("../img/service-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  background-position: top left;
}

.tick {
  font-size: 60px;
}


.form-outline {
  outline: 0;
  border: 0;
  border-bottom: 1px solid #000 !important;
}

.form-control {
  outline: 0;
  border: 0;
  border-bottom: 1px solid #000 !important;
}

.flipster__button {
  top: 1% !important;
  color: #fff !important;
}

.flipster__button--prev {
  left: 92% !important;
}

.splide__arrow--prev,
.splide__arrow--next {
  display: none !important;
}

.hcircle-right {
  position: relative;
  /* top: 50%; */
  /* left: 80%; */
  /* transform: translate(50%, 10%);
  height: 800px;
  width: 600px;
  border-radius: 500px 500px 0 0;
  background-color: green;
  transform: rotate(-90deg); */
}

.see-more {
  float: inline-end;
}

.hcircle-right:before {
  content: "";
  position: absolute;
  top: 50%;
  right: -1px;
  transform: translate(50%, 10%);
  width: 840px;
  height: 840px;
  border-radius: 50%;
  background: #f3f3f5;
  mix-blend-mode: darken;
}

.form-outline .form-control~.form-notch div {
  border: 0;
  border-bottom: 2px solid #000;
}

.form-outline .form-control:focus~.form-label {
  color: #1a1a16;
}

.form-outline .form-control:focus~.form-notch .form-notch-trailing {
  border-top: 0;
  border-bottom: 0;
  border-right: 0;
}

.form-outline .form-control:focus~.form-notch .form-notch-leading {
  border-top: 0;
  border-bottom: 0;
  border-right: 0;
}

.form-outline .form-control:focus~.form-notch .form-notch-middle {
  border-bottom: 0;
}

.form-outline .form-control:focus~.form-notch .form-notch-leading {
  border-top: 0;
  border-bottom: 0;
  border-left: 0;
}

.footer-line1 {
  position: relative;
}

.footer-line1:before {
  content: "";
  position: absolute;
  top: 50%;
  right: -1px;
  transform: translate(7%, 28%);
  width: 390px;
  height: 200px;
  /* border-radius: 50%; */
  background-image: url("../img/footer-line-1.png");
  background-repeat: no-repeat;
  mix-blend-mode: darken;
}

.footer-line2 {
  position: relative;
}

.footer-line2:before {
  content: "";
  position: absolute;
  top: 295px;
  right: -1px;
  transform: translate(90%, 70%);
  width: 650px;
  height: 82px;
  /* border-radius: 50%; */
  background-image: url("../img/footer-line-2.png");
  background-repeat: no-repeat;
  mix-blend-mode: darken;
}

.footer-line3 {
  position: relative;
}

.footer-line3:before {
  content: "";
  position: absolute;
  top: 286px;
  right: -1px;
  transform: translate(55%, 80%);
  width: 992px;
  height: 194px;
  /* border-radius: 50%; */
  background-image: url("../img/footer-line-3.png");
  background-repeat: no-repeat;
  mix-blend-mode: darken;
}

.bg2-section {
  background-image: url("../img/about-us/bg2.png");

  background-repeat: no-repeat;
  background-size: cover;
}

.h1-38 {
  font-size: 38px;
  font-family: "Archivo", sans-serif;
}

.h1-68 {
  font-size: 68px;
  font-family: "Archivo", sans-serif;
}

.h1-17 {
  font-size: 17px;
  font-family: "Archivo", sans-serif;
}









/*---------------------------------------------------- youssef 5edma ----------------------------------------*/
.menu li {
  margin: 20px 0px -50px 0px;
}

.menu a {
  font-size: 50px;
  color: white;
}

.menu a:hover {
  color: #4f4f4f;
}

.blog-h1 {
  font-size: 90px;
  text-align: start;
}

.descriptionBloc {
  position: relative;
  left: -180px;
  text-align: start;
}
.footer-items{
  position: relative;
  top: 110px;
  left: 10%;
}
.footer-item{
  color:#000000; 
  font-size:15px;  
  font-weight: 500;

}
.footer-item:hover{
  color:#00000094; 


}
.icons-footer{
  display: flex;
  justify-content: start;
  align-items: center;
  width: 50px;
  height: 50px;
}
/* sm */
@media (max-width: 640px) {
  .blog-h1 {
    font-size: 20px;
  }
  .footer-items{
    position: relative;
    top: 0px;
    left: 10%;
   
  }
  .footer-item{
    color:#000000; 
    font-size:18px;  
    font-weight: 400;
    text-align: start;
  
  }
  .descriptionBloc {
    position: relative;
    left: -150px;
  }
  .icons-footer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  /* ----------------------------------------------------------- */


  .img-bg {
    width: 50%;
    height: 80%;
  }

  .h-41 {
    font-size: 26px !important;
    text-align: center;
  }

  .reg-center {
    padding-top: 5%;
    padding-bottom: 5%;
  }

  /* .fb{
  margin-right: 10px;
} */
  #about_b {
    display: none;
  }

  .presentation-img {
    display: none;
  }

  .t-blog {
    font-size: 20px;
  }

  .s-masque {
    padding-left: 18%;
  }

  .service-h1 {
    font-size: 50px !important;
  }

  .section-h1 {
    font-size: 30px !important;
  }

  .section-h1-1 {
    font-size: 30px !important;
    text-align: center;
  }

  .section-padding {
    padding-top: 50%;
    padding-bottom: 15%;
  }

  .about-p-p {
    padding-top: 20vh;
    color: #fff !important;
  }

  .footer-line1:before {
    content: "";
    background: transparent !important;
  }

  .footer-line3:before {
    content: "";
    background: transparent !important;
  }

  .h1-38 {
    font-size: 28px !important;
  }

  .h1-68 {
    font-size: 48px !important;
  }

  .bg-section {
    background-image: none !important;
    height: auto;
  }

  .bg-section1 {
    background-image: none !important;
    padding-bottom: 20%;
    padding-left: 10%;
  }

  .para {
    padding-left: 15%;
  }

  .parag2 {
    text-align: center;
  }

  .l-hiden {
    display: none;
  }

  .s-logo-text {
    padding-left: 0%;
    padding-bottom: 5%;
  }




  /* ---------------------------------------------------------- */
}

/* md */
@media (max-width: 768px) {}

/* lg */
@media (max-width: 1024px) {
  .menu a {
    font-size: 20px;
    color: white;
 
  }

  .menu li {
    margin: 50px 0px -50px 0px;
  }

  .blog-h1 {
    font-size: 50px;
    text-align: center;
  }

  .descriptionBloc {
    position: relative;
    left: -90px;
    text-align: center;
  }

}

/* xl */
@media (max-width: 1280px) {
  .descriptionBloc {
    position: relative;
    left: 0px;
    text-align: center;
  }
  .footer-item{
    color:#000000; 
    font-size:15px;  
    font-weight: 400;

  
  }
}

/* 2xl */
@media (max-width: 1536px) {}




.pagination {
  display: block;
position: relative;
top: 50px;
right: 28%;
z-index: 2;

  margin: 1em auto;
  text-align: center;
  background-color: transparent;
  padding: 10px 0;
  cursor: pointer;

}

.pagination-button {
position: relative;
left: 0;
border: solid 1px black;
padding: 10px 15px;
margin: 0 2px;
}

.pagination-button.active{
  background-color:#000;
  color: white;
}

/* arbitrary styles */
.heading { text-align: center; max-width: 500px; margin: 20px auto; }





/* ---------------------------------- */

.cardContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(245, 245, 245);
  position: relative;
  padding: 50px 0;
top: 80px;
width: 100%;

}
.cardPagination{
display: flex;
flex-direction: column;
width: 250px;

margin:10px 40px;

}
.border-bottomCard{
  height: 1px;
  width: 100%;
  border: solid 1px black;
}
.datePagination{
display: flex;
justify-content: center;
background-color: black;
width: 100px;
color: rgb(255 255 255);
font-size: 9px;
font-weight: 10px;
font-family: 'Roboto', sans-serif;
padding: 15px;
letter-spacing: 1px;
}
.imCard{
width: 250px;
height: 160px;
box-shadow: 5px 5px rgb(234, 234, 234);
-moz-box-shadow: 5px 5px 50px rgb(234, 234, 234);
-webkit-box-shadow: 5px 5px 5px rgb(234, 234, 234);
margin: 18px 0px;
}
.titreBlog{
font-size: 22px;
font-weight: 700;
font-family: 'Anek Malayalam', sans-serif;
letter-spacing: 0.5px;
line-height: 110%;
width: 200px;
color: #000;
}
.Read{
color: rgb(137, 137, 137);
font-size: 9px;
font-weight: 10px;
font-family: 'Roboto', sans-serif;
position: absolute;
top: 13px;
right: 0px;
cursor: pointer;
}
.configCard{
position: relative;
}
.svgCard{
cursor: pointer;
}
/*----------Responsive----------*/
@media (max-width: 700px) { 
  .cardsPagination{
      padding: 20px;
      display: grid;
      grid-template-columns: repeat(1, 1fr);
  }
}
@media (min-width: 700px) {
  .cardsPagination{
      padding: 20px;
      display: grid;
      grid-template-columns: repeat(1, 1fr);
  }
}
@media (min-width: 1000px) {
  .cardsPagination{
      padding: 20px;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
  }
}


.divide{
  background-color: rgb(245, 245, 245);
padding: 100px 5% 0 7%;
position: relative;
z-index: 0;
}
.divide .line{
border-top: solid 2px rgba(167, 167, 167, 0.356);

}
.divide .top{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #000;
  width: 50px;
  height: 50px;
  position: absolute;
  right: 0;
  margin-right: 120px;
bottom: -18px;
}
/* --------------------------------------- */